# Build output
build/
*.o
*.bin
*.iso
*.img

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Backup files
*.bak
*.orig

# OS-specific files
.DS_Store
Thumbs.db

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
